[defaults]
inventory = ./inventory/gcp.yml
roles_path = ./roles
interpreter_python = auto_silent
host_key_checking = False
deprecation_warnings = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, google.cloud.gcp_compute

[ssh_connection]
ssh_args = -o ProxyCommand="gcloud compute start-iap-tunnel %h %p --listen-on-stdin --project=project-84ddd43d-e408-4cb9-8cb --zone=europe-west3-a"
