ansible==13.5.0
ansible-core==2.20.4
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.6
google-auth==2.49.1
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
PyYAML==6.0.3
requests==2.33.0
resolvelib==1.2.1
urllib3==2.6.3
